<app-menu></app-menu>
<div class="row">
     <div class="col-6">
        <h5><b>INFORMACIÓN DEL CLIENTE</b></h5>
        <hr><br>
        <div class="row">
            <input  type="text" hidden class="form-control" style="background: #F4F6F6;" [(ngModel)]="customer.idCustomer" >
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Nombre completo</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control"  minlength="4" maxlength="70" [(ngModel)]="customer.full_name" required="required" placeholder="Ej:Luis Adrián">
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Teléfono</b><span class="text-danger">*</span></label>
                <input  ondrop="return false;" onpaste="return false;"
                onkeypress="return event.charCode>=48 && event.charCode<=57" minlength="4" maxlength="10" type="text" class="form-control"   [(ngModel)]="customer.phone" required="required" placeholder="Ej:4771234567">
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Correo</b><span class="text-danger">*</span></label>
                <input   type="email" ng-pattern="eml_add"  class="form-control" minlength="4" maxlength="70" [(ngModel)]="customer.email" required="required" placeholder="Ej:hernandez@gmail.com" value="itsmarts@gmail.com">
            </div>
            
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Colonia</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control"   [(ngModel)]="customer.housing" minlength="4" maxlength="70" required="required" placeholder="Ej:Centro">
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Calle</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control" [(ngModel)]="customer.street" minlength="4" maxlength="70" required="required"  placeholder="Ej: Blvr.Adolfo Lopez Mateos #507">
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Codigo Postal</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control"   [(ngModel)]="customer.postal_code" minlength="1" maxlength="5"required="required"  placeholder="Ej:37200">
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Estado</b><span class="text-danger">*</span></label>
                <select name="miselect"   class="form-control"  [(ngModel)]="customer.idState_Customer" required="required" placeholder="Selecciona un estado">
                    <option>Selecciona un estado</option>
                    <option *ngFor="let item of estadosDatos.states" [value]="item.idState">{{item.name}}</option>
                </select>
            </div>
            <div class="col-6">
             <label  class="form-label" style="color:#0715BA"><b>Municipio</b><span class="text-danger">*</span></label>
             <select name="miselect"   class="form-control" [(ngModel)]="customer.idMunicipality_Customer" required="required" placeholder="Selecciona un municipio">
                <option>Selecciona un estado</option>
                <option *ngFor="let item of municipiosDatos.municipalities" [hidden]='!(customer.idState_Customer == item.idState_Municipality)' [value]="item.idMunicipality">{{item.name}}</option>
            </select>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h5><b>UBICACIÓN DEL CLIENTE</b></h5>
        <hr>
        <div class="row">
            <div class="col-12">
                <div class="mapa" #mapa>
                </div>
            </div>
            <div class="col-12">
                <label  class="form-label" style="color:#0715BA"><b>Cordenadas</b></label>
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>X:(Latitud)</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control" minlength="4" maxlength="20" [(ngModel)]="latitud" >
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Y:(Longitud)</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control" minlength="4" maxlength="20" [(ngModel)]="longitud">
            </div>
        </div>
    </div>
    <div class="col-12 text-center my-5">
        <button pButton pRipple type="submit" (click)="registro()" minlength="4" maxlength="20" class="p-button-success"  ><i class="pi pi-save"></i>&nbsp;Aceptar</button>
    </div>
</div>  
