<app-menu></app-menu>
<br>
<div class="row">
    <div class=" col-3">
    </div>
    <div class=" col-9">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText pInputText class="p-inputtext-sm inputBuscar" [(ngModel)]="dato" (input)="buscar()"
                placeholder="Buscar cliente">
        </span> <br><br> <br>
    </div>
    <div class="col-8">
        <div class="alert alert-danger" value="" *ngIf="clientesDatos.customers.length==0 && dato.length>0">
            No se encontro nada con el termino {{dato}}
        </div>
        <div class="text-layout">
            <button pButton type="button" class="p-button-sm" routerLink="/detalleClienteGuardar" ><i
                    class="pi pi-pencil"></i>&nbsp;Nuevo registro</button>
        </div>
        <br>
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <span><b>Información de los clientes</b></span>
            </div>
            <div class="p-toolbar-group-right">
                <button pButton type="button" class="p-button-sm p-button-danger" (click)="imprimirLista()"><i
                        class="pi pi-file-pdf"></i>&nbsp;Exportar a PDF</button>&nbsp;
                <button pButton type="button" class="p-button-sm p-button-success" (click)="exportarExcel()"><i
                        class="pi pi-file-excel"></i>&nbsp;Exportar a Excel</button>
            </div>
        </p-toolbar>
        <div class="gid" *ngIf="clientesDatos.customers.length>0">
            <div class="p-col mt-2" #datoTabla id="datoTabla">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre </th>
                            <th>Teléfono </th>
                            <th>Correo </th>
                            <th>Puesto </th>
                            <th>Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of clientesDatos.customers;" [hidden]='!(item.status == true)' >
                            <td>{{item.full_name |  titlecase}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.street|  titlecase}}</td>
                            <td>
                                <button pButton pRipple type="button" (click)="Buscar()" icon="pi pi-search"
                                    class="p-button-rounded p-button-success p-button-outlined "
                                    style='width:25px; height:25px'></button>
                                <button pButton [routerLink]="['/editarCliente',item.idCustomer]" pRipple type="button"
                                    icon="pi pi-file-edit" class="p-button-rounded p-button-warning p-button-outlined"
                                    style='width:25px; height:25px'></button>
                                <button pButton (click)="borrarCliente(item)" pRipple type="button" icon="pi pi-times"
                                    class="p-button-rounded p-button-danger p-button-outlined"
                                    style='width:25px; height:25px'></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="mapa" #mapa>
        </div>
    </div>

</div>

