<app-menu></app-menu>
<form autocomplete="off"
[formGroup]="miFormulario"
        (ngSubmit)="registro()">
<div class="row">
     <div class="col-12">
        <h5><b>INFORMACIÓN DEL CLIENTE</b></h5>
        <hr><br>
        <div class="row">
            <input  type="text" hidden class="form-control" style="background: #F4F6F6;"  readonly>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Nombre</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control" minlength="4" maxlength="70" formControlName="full_name"  placeholder="Ej:Luis Adrián">
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Teléfono</b><span class="text-danger" >*</span></label>
                <input  ondrop="return false;" onpaste="return false;"
                onkeypress="return event.charCode>=48 && event.charCode<=57" minlength="4" maxlength="10" type="text" class="form-control" formControlName="phone" placeholder="Ej:4771234567">
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Correo</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control" formControlName="email" minlength="4" maxlength="70" placeholder="Ej:hernandez@gmail.com">
            </div>
            
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Colonia</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control"  formControlName="housing" minlength="4" maxlength="70" placeholder="Ej:Centro">
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Calle</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control"   formControlName="street" minlength="4" maxlength="70" placeholder="Ej: Blvr.Adolfo Lopez Mateos #507">
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Codigo Postal</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control"  formControlName="postal_code" minlength="1" maxlength="5" placeholder="Ej:37200">
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Estado</b><span class="text-danger">*</span></label>
                <select name="miselect"  [(ngModel)]="datoEstado" formControlName="idMunicipality_Customer" class="form-control"  placeholder="Selecciona un estado">
                    <option>Selecciona un estado</option>
                    <option *ngFor="let itemEstado of estadosDatos.states" [value]="itemEstado.idState">{{itemEstado.name}} </option>
                </select>
            </div>
            <div class="col-6">
             <label  class="form-label" style="color:#0715BA"><b>Municipio</b><span class="text-danger">*</span></label>
             <select  name="miselect"   class="form-control"  formControlName="idMunicipality_Customer" placeholder="Selecciona un municipio">
                <option>Selecciona un municipio</option>
                <option *ngFor="let itemMunicipio of municipiosDatos.municipalities" [hidden]='!(datoEstado == itemMunicipio.idState_Municipality)' [value]="itemMunicipio.idMunicipality">{{itemMunicipio.name}}</option>
            </select>
            </div>
        </div>
    </div>
    <!-- <div class="col-6">
        <h5><b>UBICACIÓN DEL CLIENTE</b></h5>
        <hr>
        <div class="row">
            <div class="col-12">
                <div class="mapa" #mapa>
                </div>
            </div>
            <div class="col-12">
                <label  class="form-label" style="color:#0715BA"><b>Cordenadas</b></label>
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>X:(Latitud)</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control" minlength="4" maxlength="20"  placeholder="Ej:-101.68337786078459" value="-101.68337786078459" readonly>
            </div>
            <div class="col-6">
                <label  class="form-label" style="color:#0715BA"><b>Y:(Longitud)</b><span class="text-danger">*</span></label>
                <input  type="text" class="form-control" minlength="4" maxlength="20" placeholder="Ej:21.1213454578527" value="21.1213454578527" readonly>
            </div>
            <div class="col-12 text-center my-4">
                <button pButton pRipple type="button" label="Buscar" (click)="Buscar()" class="p-button-raised p-button-text" style="background-color: #F4F6F6; color: #0715BA;" style='width:300px; height:50px'></button>
            </div>
        </div>
    </div> -->
    <div class="col-12 text-center my-5">
        <button pButton pRipple type="submit" label="Aceptar" [disabled]="miFormulario.invalid" class="p-button-success"  style='width:300px; height:50px'></button>
    </div>
</div>
</form>  

